params {
    // Required Parameters
    outdir                  = "/vast/scratch/users/iskander.j/Madeline2023_results"
    input_seq_path          = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/Madeline2023/sequence_data"
    input_file              = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/Madeline2023/samplegroupsmall.txt"
    bin_in_kbases           = 5
    qualcrit                = 50
    critsamplecount         = 2

    //Defaults
    ref3D7_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-52_Pfalciparum3D7"
    refDd2_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-57_PfalciparumDd2"
    multiqc_config          = "$projectDir/config/multiqc_config.yaml"
    gridss_jar_path         = "$projectDir/bin/gridss_assets/gridss-2.13.2-gridss-jar-with-dependencies.jar"

    //System params
    config_profile_description = 'Walter and Eliza Hall Institute (WEHI) Milton HPC cluster profile'
    config_profile_contact     = 'Jacob Munro (munro.j@wehi.edu.au)'
    config_profile_url         = "https://www.wehi.edu.au/"
    max_memory = 1.3.TB
    max_cpus   = 128
    max_time   = 48.h
}
process {
    executor = 'slurm'
    cache    = 'lenient'
}
executor {
    queueSize         = 100
    queueStatInterval = '10 sec'
    pollInterval      = '10 sec'
    submitRateLimit   = '10 sec'
}

dag{
    enabled = true
    overwrite = true
    file="dag.dot"
}
timeline {
  enabled = false
  overwrite = true
  file="timeline.tsv"
}
report {
  enabled = true
  overwrite = true
  file="report.html"
}

// tower {
//     enabled = true
//     workspaceId = '103725969693338'
//     endpoint = 'https://tower.services.biocommons.org.au/api'
// }


profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
    }
    milton{
        conda.enabled          = true
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        singularity.enabled    = false
        process {
            withLabel:BWAAlign {
                module = 'bwa/0.7.17:samtools/1.16.1:picard-tools'
            }
            withLabel:Samtools {
                module = 'samtools/1.16.1'
            }
            withLabel:Bcftools {
                module = 'bcftools/1.13'
            }
            withLabel:Fastqc {
                module='fastqc/0.11.8'
            }
            withLabel:Multiqc {
                module ='MultiQC/1.10.1'
            }
            withLabel:RGridss {
                module ='gridss/2.13.2:R/4.3.2'
            }
            withLabel:Rfilter {
                conda ="$projectDir/envs/r_filter.yaml"
            }
           
        }
    }
    conda {
        conda.enabled          = true
        process {
            withLabel:BWAAlign {
                conda ="$projectDir/envs/bwa_samtools.yaml"
            }
            withLabel:Bcftools {
                conda= "$projectDir/envs/bcf.yaml"
            }
            withLabel:Fastqc {
                conda= "$projectDir/envs/fastqc.yaml"
            }
            withLabel:Multiqc {
                conda ="$projectDir/envs/multiqc.yaml"
            }
        }
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'config/modules.config'
