params {
    // Required Parameters
    outdir                  = "/vast/scratch/users/$USER/PaolaIGP3results"
    input_seq_path          = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/iGP3_Paola2024/sequence_data"
    input_file              = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/iGP3_Paola2024/samplegroup.txt"
    // Copynumber Plot Parameters
    bin_CNfull              = 5
    bin_CNroi               = 1
    lowerbound_fullCN       = 0.2
    upperbound_fullCN       = 36
    chr_CNroi               = "07" 
    start_CNroi             = 410
    end_CNroi               = 416
    
    BCFqualcrit                = 50
    critsamplecount         = 1

    //Defaults
    ref3D7_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-52_Pfalciparum3D7"
    refDd2_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-57_PfalciparumDd2"
    refSupp_path            = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/iGP3_Paola2024/supplementedRef52"
    multiqc_config          = "$projectDir/config/multiqc_config.yaml"
    gridss_jar_path         = "$projectDir/Rtools/gridss_assets/gridss-2.13.2-gridss-jar-with-dependencies.jar"

}

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
    }
    singularity {
        singularity.enabled   = true
        docker.enabled        = false
        singularity.pullTimeout = "3h"
        process {
            withLabel: 'BWAAlign|Samtools|Bcftools|Fastqc|Multiqc|RGridss|Rfilter|IndexDedup' {
                container = "ghcr.io/wehi-researchcomputing/nf-malaria-variant-analysis:latest"
            }
        }
    }
    docker {
        docker.enabled        = true
        singularity.enabled   = false
        process {
            withLabel: 'BWAAlign|Samtools|Bcftools|Fastqc|Multiqc|RGridss|Rfilter|IndexDedup' {
                container = "ghcr.io/wehi-researchcomputing/nf-malaria-variant-analysis:latest"
            }
        }
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'config/modules.config'
