/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

//process configurations
process {
    withLabel:BWAAlign {
        queue='regular'
        cpus = 5
        memory={ 100.MB * task.attempt }
        time='1h'
        errorStrategy ={ 'retry'  }
        maxRetries= 1
    }

    
}
