/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//process configurations
process {
    queue = 'regular'

    // Retry any failing task up to 5 times by default
    maxRetries = 5
    errorStrategy = 'retry'

    withLabel:BWAAlign {
        cpus = 5
        memory = { 4.GB * task.attempt }
        time = '12h'
    }
    withLabel:IndexDedup {
        cpus = 5
        memory = { 32.GB * task.attempt }
        time = '8h'
    }
    withLabel:Write {
        cpus = 1
        memory = { 1.GB * task.attempt }
        time = '12h'
        errorStrategy = 'terminate'
    }
    withLabel:Samtools {
        cpus = 1
        memory = { 8.GB * task.attempt }
    }
    withLabel:Bcftools {
        cpus = 5
        memory = { 8.GB * task.attempt }
        time = '12h'
        errorStrategy = 'terminate'
    }
    withLabel: Fastqc {
        cpus = 5
        memory = { 4.GB * task.attempt }
        time = '12h'
    }
    withLabel: Mosdepth {
        cpus = 5
        memory = { 4.GB * task.attempt }
        time = '2h'
    }
    withLabel: Flagstats {
        cpus = 1
        memory = { 4.GB * task.attempt }
        time = '1h'
    }
    withLabel: Multiqc {
        cpus = 2
        memory = { 1.GB * task.attempt }
        time='12h'
    }
    withLabel: Gridss {
        cpus = 8
        time = '12h'
        memory = { 40.GB * task.attempt }
    }
    withLabel: Rfilter {
        cpus = 8
        time = '12h'
        memory = { 10.GB * task.attempt }
    }
}
