// Required Parameters
//
// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
//workDir = params.outdir + '/nextflow_work_dir'


params {
    // Required Parameters
    outdir                  = "/vast/scratch/users/$USER/results_full"

    input_seq_path          = "/vast/projects/malaria/MadelineDec2023/sequence_data"
    input_group_key_file    = "/vast/projects/malaria/MadelineDec2023/group_key.txt"
    input_sample_key_file   = "/vast/projects/malaria/MadelineDec2023/sample_key.txt"

    //Defaults
    ref3D7_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-52_Pfalciparum3D7"
    refDd2_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-57_PfalciparumDd2"
}

/* process {
    publishDir {
            path = "/vast/scratch/users/$USER/res"
            mode = "copy"
    }            
} */

tower {
    enabled = true
    workspaceId = '103725969693338'
    endpoint = 'https://tower.services.biocommons.org.au/api'
}


profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup = false
    }
    milton{
        conda.enabled          = true
        cleanup                = true
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        singularity.enabled    = false
        process {
            withLabel:BWAAlign {
                module = 'bwa/0.7.17:samtools/1.16.1:picard-tools'
            }
            withLabel:Samtools {
                module = 'samtools/1.16.1'
            }
            withLabel:Bcftools {
                module = 'bcftools/1.13'
            }
        }
    }
    conda {
        conda.enabled          = true
        process {
            withLabel:BWAAlign {
                conda ='envs/bwa_samtools.yaml'
            }
            withLabel:Bcftools {
                conda= "envs/bcf.yaml"
            }
        }
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'modules.config'