// Required Parameters
//
// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
//workDir = params.outdir + '/nextflow_work_dir'


params {
    // Required Parameters
    outdir                  = "/vast/scratch/users/penington.j/Madeline2023_Analy1_results"
    input_seq_path          = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/Madeline2023/sequence_data"
    input_file              = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/malaria/cowman_lab/drug_resistance/Madeline2023/samplegroupAnaly1.txt"
    // Copynumber Plot Parameters
    bin_CNfull              = 5
    bin_CNroi               = 1
    lowerbound_fullCN       = 0.2
    upperbound_fullCN       = 36
    chr_CNroi               = "08" 
    start_CNroi             = 380
    end_CNroi               = 435
    
    BCFqualcrit                = 50
    critsamplecount         = 2
    //Defaults
    ref3D7_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-52_Pfalciparum3D7"
    refDd2_path             = "/stornext/Bioinf/data/bioinf-data/Papenfuss_lab/projects/reference_genomes/plasmodium/PlasmoDB-57_PfalciparumDd2"
}


profiles {
    milton{
        conda.enabled          = true
        cleanup                = false
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        singularity.enabled    = false
        process {
            withLabel:BWAAlign {
                module = 'bwa/0.7.17:samtools/1.16.1:picard-tools'
            }
            withLabel:Samtools {
                module = 'samtools/1.16.1'
            }
            withLabel:Bcftools {
                module = 'bcftools/1.13'
            }
            withLabel:Fastqc {
                module='fastqc/0.11.8'
            }
            withLabel:Multiqc {
                module ='MultiQC/1.10.1'
            }
            withLabel:RGridss {
                module ='gridss/2.13.2:R/4.3.2'
            }
            withLabel:Rfilter {
                conda ='envs/r_filter.yaml'
            }  
        }
    }
    conda {
        conda.enabled          = true
        process {
            withLabel:BWAAlign {
                conda ='envs/bwa_samtools.yaml'
            }
            withLabel:Bcftools {
                conda= "envs/bcf.yaml"
            }
            withLabel:Fastqc {
                conda= "envs/fastqc.yaml"
            }
            withLabel:Multiqc {
                conda ='envs/multiqc.yaml'
            }
        }
    }
    singularity {
        singularity.enabled   = true
        docker.enabled        = false
        process {
            withLabel:BWAAlign {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Samtools {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Bcftools {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Fastqc {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Multiqc {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:RGridss {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Rfilter {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
        }
    }
    docker {
        docker.enabled        = true
        singularity.enabled   = false
        process {
            withLabel:BWAAlign {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Samtools {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Bcftools {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Fastqc {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Multiqc {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:RGridss {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
            withLabel:Rfilter {
                container = "ghcr.io/wehi-researchcomputing/malaria-env:latest"
            }
        }
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'modules.config'
